<mat-toolbar color="primary" class="sticky">
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row">
      <button mat-button>
        <mat-icon>home</mat-icon>
        <span class="logo">Nikolina Govedarica</span>
      </button>
    </div>
    <div>
      <button mat-button fxLayoutAlign="end"  onClick="window.open('https://github.com/Bubo-DBM/museum-art/wiki/Assignment-details')">
        WaySeven Assignment
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>