    <span class="border-right" *ngIf="!staticEditIsClicked">
        <div fxLayout="column"  class="mySideBar" style="width: 100%;">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="selection" name="selection">
                <mat-toolbar-row fxLayoutGap="25px">
                    <mat-radio-button (change)="onSelectionChange($event);" *ngFor="let select of selections" [value]="select.name">
                        {{select.name}}
                      </mat-radio-button>
                </mat-toolbar-row>
            </mat-radio-group>
            <div class="searchContainer">
                <input class="searchBox" type="search" name="search" >
                <i class="fa fa-search" style="padding-left: 2px;"></i>
            </div>
            <mat-tree #tree  [dataSource]="staticDataSource" [treeControl]="staticTreeControl">
                <mat-tree-node *matTreeNodeDef="let node"  matTreeNodePadding >
                  <button mat-icon-button (click)="onItemClicked(node)" id="{{node.id}}">
                    {{node.name}}
                  </button>
                   
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle
                  id="{{node.id}}"
                  (click)="onItemClicked(node)"  
                          [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{staticTreeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                    {{node.name}}
                  </button>
                </mat-tree-node>
              </mat-tree>
        </div>
    </span>