<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<div style="width: 100%; height: 100%;">
    <span class="border-right" fxFlex="20" *ngIf="!editIsClicked">
        <div fxLayout="column"  class="mySideBar" style="width: 100%;">
            <mat-radio-group aria-label="Select an option" [(ngModel)]="selection" name="selection">
                <mat-toolbar-row fxLayoutGap="25px">
                    <mat-radio-button (change)="onSelectionChange($event);" *ngFor="let select of selections" [value]="select.name">
                        {{select.name}}
                      </mat-radio-button>
                </mat-toolbar-row>
            </mat-radio-group>
            <div class="searchContainer">
                <input class="searchBox" type="search" name="search" >
                <i class="fa fa-search" style="padding-left: 2px;"></i>
            </div>
            <mat-tree #tree  [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node"  matTreeNodePadding >
                  <button mat-icon-button (click)="onItemClicked(node)" id="{{node.id}}">
                    {{node.name}}
                  </button>
                   
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                  <button mat-icon-button matTreeNodeToggle
                  id="{{node.id}}"
                  (click)="onItemClicked(node)"  
                          [attr.aria-label]="'Toggle ' + node.name">
                    <mat-icon class="mat-icon-rtl-mirror">
                      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                    </mat-icon>
                    {{node.name}}
                  </button>
                </mat-tree-node>
              </mat-tree>
        </div>
    </span>
    
    <form form [formGroup]="artForm" class="border-right" fxFlex="50" *ngIf="editIsClicked" >
       <div fxLayout="column"  class="editPage" style="width: 100%;"  fxLayoutAlign="space-between center">
        <mat-form-field  class="labelForEdit">
          <mat-label>Title</mat-label>
          <input type="text" formControlName="title" matInput>
          
        </mat-form-field>
        <mat-form-field class="labelForEdit">
          <mat-label>Image URL</mat-label>
          <input formControlName="url" matInput>
        </mat-form-field>
        <mat-form-field class="labelForEdit">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" style="height: 300px;" matInput></textarea>
        </mat-form-field>
        <mat-toolbar-row >
          <button class="btn btn-primary" fxLayout="row" style="margin-left: 25px;" (click)="saveClicked()">
            Save
          </button>
          <button class="btn btn-outline-primary" fxLayout="row"  style="margin-left: 50px;" (click)="previewClicked()">
            Preview
          </button>
        </mat-toolbar-row>
       </div>
      </form>
    <div class="border-bottom" *ngIf="itemClicked" style="padding-left:10px; margin-left:10px; margin-top:120px; flex-direction: column;" name="item" [(ngModel)]="item" fxLayoutAlign="space-around center" value="item" ngDefaultControl fxLayout="column" fxFlex="80" class="contentArea">
        <div fxFlex="40">
            <mat-toolbar-row  style="flex-direction: column;margin-bottom: 160px;">
                <div fxLayout="row">
                    <img src="{{item.url}}" style="height:320px ; width:250px; position: center;" class="md-card-image">
                </div>
            </mat-toolbar-row>
        </div>
        
        <div fxFlex="60">
            <mat-toolbar-row>
                <mat-toolbar-row fxLayoutAlign="space-between center">
                    <div fxLayout="row">
                        <label style="font-size: large;">{{ item.name }}</label>
                    </div>
                    <div *ngIf="!editIsClicked">
                      <button class="btn btn-primary"
                      type="button"
                      (click)="editClicked()"
                      fxLayoutAlign="end">
                        Edit
                      </button>
                    </div>
                  </mat-toolbar-row>
            </mat-toolbar-row>
            <div fxLayout="row" style="margin-top: 30px;text-align: justify; margin-right: 30px;">
                <label>{{item.description}}</label>
            </div>
        </div>
        
    </div>
</div>