.mySideBar{
    padding-left: 10px;
    padding-top: 100px;
    border-color:rgb(216, 52, 52); 
    border-width: 5px;
}
.mat-radio-group{
    padding-bottom: 10px;
}

.searchBox{
    margin-top: 15px;
    height: 40px;
    width: 230px;
    border-radius: 10px;
    display:inline-block;
    position: relative;
}

.btn.btn-primary{
    width: 120px;
    place-content: center !important;
    align-items: stretch;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
}
